<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cài đặt</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="update()">
        <ion-label class="show-sm">Lưu</ion-label>
        <ion-icon class="show-sm" name="thumbs-up" slot="end"></ion-icon>
        <ion-icon class="hide-sm" name="thumbs-up" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ul >
          <li>Quản lý Hồ sơ </li>
          <li>Quản lý phí dịch vụ</li>
          <li>Cấu hình bãi xe</li>
          <li>Thư viện ảnh</li>
        </ul>
<!--        <ion-col size="6">-->
<!--          <ion-item>-->
<!--            <ion-label position="floating">STRIPE_SECRET </ion-label>-->
<!--            <ion-input name="stripe_sk" [(ngModel)]="profileData.stripe_sk"></ion-input>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--        <ion-col size="6">-->
<!--          <ion-item>-->
<!--            <ion-label position="floating">STRIPE_KEY </ion-label>-->
<!--            <ion-input name="stripe_pk" [(ngModel)]="profileData.stripe_pk"></ion-input>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
